name: module3_task4

on:
  push:
    branches: [master]
    tags:
      - '*.*.*'
  schedule:
    - cron: '0 0 * * *'

  pull_request:
    types: [opened, reopened, edited, ready_for_review]

jobs:
  validate:
    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@v3
      - run: cd module3_task4 && ./setup.sh

      - run: make lint -C module3_task4/

      - run: make build -C module3_task4/

      - run: make package -C module3_task4/

      - run: |
          make unit-tests -C module3_task4/
          make integration-tests -C module3_task4/
          make validate -C module3_task4/

      - uses: actions/upload-artifact@v3
        with:
          name: Archive awesome-website.zip as artifact
          path: module3_task4/awesome-website.zip

      - uses: softprops/action-gh-release@v1
        # if: github.event.pull_request
        if: startsWith(github.ref, 'refs/tags/')
        with:
          # tag_name: 1.0.17
          files: |
            module3_task4/awesome-website.zip
            module3_task4/DEPLOY.md
          # body_path: module3_task4/DEPLOY.md
